@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.bottom-card {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px;
}

.bottom-heading {
    font-family: "roboto";
    font-weight: bold;
    font-size: 22px;
    color: #5752ab;
}

.bottom-paragragh {
    color: #323f4b;
    font-weight: bold;
    font-family: "Bree Serif";
}

.first-button {
    background-color: #ffffff;
    color: #171f46;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px;
    width: 120px;
    height: 36px;
    margin-right: 5px;
    font-weight: 500;
    font-family: "Roboto";
    border-style: solid;
}

.second-button {
    background-color: #5752ab;
    color: #ffffff;
    font-family: "roboto";
    border-radius: 8px;
    padding: 5px;
    width: 120px;
    height: 36px;
    margin-left: 5px;
    border-width: 0px;
    font-weight: 500;
    font-size: 12px;
}